{% extends "layouts/layout.html" %}

{% block header %}
<div class="bg-gray-light border-bottom border-gray-light">
  <div class="container text-center py-5 mb-4">
    <div class="my-4 card-display">
      <embed src="{{ url_for('cards.view_card', spotify_uri='spotify:track:6U0FIYXCQ3TGrk4tFpLrEA', layout_name='template1.svg') }}" alt="SUGAR - BROCKHAMPTON">
      <embed src="{{ url_for('cards.view_card', spotify_uri='spotify:track:6BRW1hLPP14wpaxJF8YTWe', layout_name='template2.svg') }}" alt="Hallucinogenics - Matt Maeson">
      <embed src="{{ url_for('cards.view_card', spotify_uri='spotify:track:2t0Xu0fHxVwITcosWU0RKe', layout_name='template1.svg') }}" alt="Ocean Eyes - Dakota Deyoc">
    </div>
    <div class="mt-3 mb-4">
      <h1 class="h1 mb-0">Spotify Cards</h1>
      <h2 class="h4 text-gray font-weight-light">Follow the simple steps below to get your set of Spotify cards cheaply and easily.</h2>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container text-center">
  <div class="pb-3 pt-5">
    <h3>Step One</h3>
    <p>Connect your Spotify Account to select music to import.</p>
    <a class="spotify-login" href="{{ url_for('auth.spotifylogin') }}">Connect Your Spotify Account</a>
  </div>
  <div class="py-3">
    <h3>Step Two</h3>
    <p>Select the music to import to print onto cards.</p>
  </div>
  <div class="py-3">
    <h3>Step Three</h3>
    <p>Customize the appearance of the cards.</p>
  </div>
  <div class="py-3">
    <h4>Step Four</h4>
    <button class="button em">Order Prints</button>
    <span>Or</span>
    <button class="button">Download Images</button>
  </div>
</div>
{% endblock %}
